body {
    margin: 0;
    font-family: 'Noto Sans', Arial, serif;
    background-image: linear-gradient(to bottom, #000000, #0a385a, #000000);
    color: white;
    text-align: center;
}

.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-inline: 20%;
}

.hori {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.media-state {
  all: unset;
  height: 48px;
  margin: 12px;
  padding: 8px;
  background: linear-gradient(#cadaf2, #073477, #52b9db);
  border-radius: 48px;
  border: solid;
  border-color: #8ca9d4;
  transition: cubic-bezier(0.175, 1.885, 0.320, 1.275) 0.25s;
}


.media-state:hover {
    background-color: #ffffff22;
    transform: scale(1.1);
}

.media-state:active {
    background-color: #ffffff22;
    transform: scale(0.9);
}

.settings-icon {
  all: unset;
  height: 32px;
  margin: 8px;
  padding: 8px;
  background-color: #ffffff00;
  opacity: 0.25;
  border-radius: 48px;
  transition: cubic-bezier(0.175, 1.885, 0.320, 1.275) 0.25s;
  position: fixed;
  bottom: 0;
  right: 0;
}

.settings-icon:hover {
    background-color: #ffffff22;
    transform: scale(1.1);
    opacity: 1;
}

.settings-icon:active {
    background-color: #ffffff22;
    transform: scale(0.9);
}

.vert {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.progress-container {
  max-width: 640px;
  width: 100%;
  height: 8px;
  border-radius: 24px;
  border: 1px solid #ffffff80;
  overflow: hidden;
  margin: 24px;
  margin-inline: 0px;
}

.progress-bar {
  height: 100%;
  background: linear-gradient(#96bdf8, #132a50, #3e86f3);
  width: 0%;
  transition: 0.25s;
}

img {
    width: 100%;
    max-width: 360px;
    padding: 16px;
    border-radius: 24px;
}

.cover {
  transition: cubic-bezier(0.175, 1.885, 0.320, 1.275) 0.25s;
  box-shadow: 0 0px 30px rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  padding: 0;
}

.cover:hover {
  transform: scale(1.05);
}

h1, h2, h3, p, a {
    margin: 8px;
}

h1 {
  font-size: 28pt;
}

h2 {
  font-size: 14pt;
}

input {
  all: unset;
  height: 32px;
  margin: 8px;
  padding: 4px 16px;
  background-color: #ffffff11;
  border-radius: 48px;
  transition: cubic-bezier(0.175, 1.885, 0.320, 1.275) 0.25s;
}

input:hover {
  background-color: #ffffff22;
}

input:active {
  background-color: #ffffff22;
  transform: scale(0.9);
}

button {
  all: unset;
  height: 32px;
  margin: 8px;
  padding: 4px 16px;
  background: linear-gradient(#eef5ff, #ffffff 49%, #bebebe 50%);
  border: 2px solid #808080;
  color: #000000;
  border-radius: 8px;
  transition: cubic-bezier(0.175, 1.885, 0.320, 1.275) 0.25s;
}

button:hover {
  background: linear-gradient(#eef5ff, #ffffff 49%, #add8fb 50%);
  border: 2px solid #3fcbf6;
}

button:active {
  background: linear-gradient(#7095b4, #779cae 49%, #cccccc 50%);
  border: 2px solid #33b1d8;
}